# Make features to train the models that update the eyeballing scores

The models that update the scores will use additional features that include all recent behaviour of the lightcurve (including scatter in Ra and Dec) since 5 days before the alert. 

All the contextual information, and the historical lightcurve features are still informative and useful - we can just pull these from the Day 1 features we've already calculated.

Additionally, we're going to create **mulitple samples per ATLAS object, one for each day of data available** (up to 15 days after alert). The models will be trained on these samples individually (see relevant notebook).

### Overview of the new features

* DET_mag_median 	
* DET_N_today 	
* DET_N_total 	
* NON_mag_median 	
* NON_N_today 	
* NON_N_total 	
* max_mag 	
* max_mag_day

In [13]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from atlasvras.utils.prettify import vra_colors, label_to_color
from tqdm.notebook import tqdm


dict_type_to_preal = {'garbage': 0,
                      'pm': 0,
                      'galactic': 1,
                      'good': 1
                     }

dict_type_to_pgal = {'garbage': 0,
                      'pm': 1,
                      'galactic': 1,
                      'good': 0
                     }


colors=[vra_colors['red'], vra_colors['orange'], vra_colors['blue'], vra_colors['yellow']]
label_list = ['Garbage', 'PM Star', 'Good', 'Galactic']

plt.style.use('vra')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 1. Load the Data

### 1.1 Load the clean data

In [14]:
vra_last_entries = pd.read_csv('./clean_data_csv/vra_last_entry_withmjd.csv', index_col=0)
detections = pd.read_csv('./clean_data_csv/detections_data_set.csv', index_col=0)
non_detections = pd.read_csv('./clean_data_csv/non_detections_100days.csv', index_col=0)
context = pd.read_csv('./clean_data_csv/contextual_info_data_set.csv', index_col=0)


ATLAS_ID_nan = context[context['type'].isna()].index.values

context=context.drop(ATLAS_ID_nan, axis='index', errors='ignore')
vra_last_entries=vra_last_entries.drop(ATLAS_ID_nan, axis='index', errors='ignore')
detections=detections.drop(ATLAS_ID_nan, axis='index', errors='ignore')
non_detections=non_detections.drop(ATLAS_ID_nan, axis='index', errors='ignore')

### 1.2 Load the Day 1 features

In [15]:
X_train_day1 = pd.read_csv('./features_and_labels_csv/day1/X_train_randomsplit.csv', index_col=0)
X_test_day1 = pd.read_csv('./features_and_labels_csv/day1/X_test_unbalanced_randomsplit.csv', index_col=0)
y_train_day1 = pd.read_csv('./features_and_labels_csv/day1/y_train_randomsplit.csv', index_col=0)
y_test_day1 = pd.read_csv('./features_and_labels_csv/day1/y_test_unbalanced_randomsplit.csv', index_col=0)

Grab the indexes of the data we split and resampled when making the Day1 features to crop our clean data and only keep the relevant data sets

In [16]:
train_indexes = X_train_day1.index
test_indexes = X_test_day1.index

indexes_to_keep = list(set(train_indexes).union(set(test_indexes)))

In [17]:
detections=detections.loc[indexes_to_keep]
non_detections=non_detections.loc[list(set(indexes_to_keep).intersection(set(non_detections.index)))]
context=context.loc[indexes_to_keep]
vra_last_entries=vra_last_entries.loc[indexes_to_keep]

### 1.3 Crop Lightcurves between -5 and +15 days w.r.t to entry into eyeball list

In [19]:
detections = detections[(detections.phase_init > -5)
                        &(detections.phase_init<=15)
                       ]


non_detections = non_detections[(non_detections.phase_init > -5)
                        &(non_detections.phase_init<=15)
                       ]

## 2. Make Features
### 2.1 add `dayN` column and median magnitude

The lightcurve features for each new day of data that relate to the magnitude (whether detection or non detection) will use the median magnitude - it's an easy (albeit not formally correct) way to bin the data. 
Binning the data properly would require binning in flux space which is an additional computational faff. We just need the median mag value to be representative of the behaviour on the day for what we're doing.

In [20]:
def add_dayN_col(df: pd.DataFrame) -> pd.DataFrame:
    """
    Adds the dayN column to a dataframe (if it has a pre-existing phase_init column).
    dayN is NOT SIMPLY THE INTEGER PART OF phase_init. See Notes for more details.
    
    Parameters
    ----------
    df : pd.DataFrame
        Dataframe of the lightcurve data
        The dataframe must have a column called 'phase_init' which is the
        phase w.r.t the date when the alert entered the eyeball list, that is when
        it passed the quality checks and was deemed a real alert
        (see manual and Smith et. al. 2021 for more details).

    Returns
    -------
    pd.DataFrame
        The dataframe with the dayN column added

    Raises  
    ------
    AssertionError
        If the dataframe does not have a column called 'phase_init'

    """

    assert 'phase_init' in df.columns, 'The dataframe must have a column called "phase_init"'
    df['dayN'] = df.phase_init.astype(int)
    df['dayN'] = [df.dayN.iloc[i] + 1 if df.phase_init.iloc[i] > 0 else df.dayN.iloc[i] for i in range(df.shape[0])]
    return df

In [21]:
detections = add_dayN_col(detections)
non_detections = add_dayN_col(non_detections)

/tmp/ipykernel_121190/2401780873.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dayN'] = df.phase_init.astype(int)
/tmp/ipykernel_121190/2401780873.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dayN'] = [df.dayN.iloc[i] + 1 if df.phase_init.iloc[i] > 0 else df.dayN.iloc[i] for i in range(df.shape[0])]
/tmp/ipykernel_121190/2401780873.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dayN'] = df.phase_init.astype(int)
/tmp/ipykernel_121190/2401780873.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dayN'] = [df.dayN.iloc[i] + 1 if df.phase_init.iloc[i] > 0 else df.dayN.iloc[i] for i in range(df.shape[0])]

In [24]:
def add_median_col_sample(df):
    df_multi_index = df.reset_index().set_index(['ATLAS_ID', 'dayN'])
    df_wmed = df_multi_index.join(df.groupby(['ATLAS_ID', 'dayN'])['mag'].median(),
                                  rsuffix='_median'
                                  )
    df_wmed.reset_index(inplace=True)
    return df_wmed

In [25]:
det_wmed = add_median_col_sample(detections)

In [26]:
nondet_wmed = add_median_col_sample(non_detections)

### 2.2  Median of the detections and limiting magnitudes 

* DET_mag_median 		
* NON_mag_median

In [27]:
med_det_perday = det_wmed.groupby(['ATLAS_ID', 'dayN']).max().mag_median.rename('DET_mag_median')

In [28]:
med_nondet_perday = nondet_wmed.groupby(['ATLAS_ID', 'dayN']).max().mag_median.rename('NON_mag_median')

### 2.3 Number of detections and non detections on each day (day N)
* DET_N_today 	
* NON_N_today

In [29]:
# Number of detections and non detections for a given dayN
Ndets_perday = det_wmed.groupby(['ATLAS_ID', 'dayN']).count().mag.rename('DET_N_today')

In [30]:
Nnondets_perday = nondet_wmed.groupby(['ATLAS_ID', 'dayN']).count().mag.rename('NON_N_today')

Start putting the features together in a dataframe

In [33]:
# Combine the dayN features and join into a single lightcurve features dataframe
det_features = pd.concat((med_det_perday, Ndets_perday), axis=1)  
nondet_features = pd.concat((med_nondet_perday, Nnondets_perday), axis=1)

In [34]:
lightcurve_features = det_features.join(nondet_features, how='outer'
                                                ).reset_index().sort_values('dayN')

In [35]:
lightcurve_features

,ATLAS_ID,dayN,DET_mag_median,DET_N_today,NON_mag_median,NON_N_today
0,1000003310002310400,-4,-19.223,1.0,19.430,3.0
17497,1080826770470827800,-4,NaN,NaN,18.795,4.0
17505,1080831421524515100,-4,18.791,1.0,18.970,3.0
83604,1175728000281331200,-4,NaN,NaN,18.015,2.0
17512,1080833020354120700,-4,18.930,1.0,19.110,3.0
...,...,...,...,...,...,...
88373,1181436400175317900,15,NaN,NaN,18.865,4.0
15586,1070840740192055200,15,NaN,NaN,17.850,4.0
88398,1181439650222214300,15,NaN,NaN,18.060,4.0
15735,1071346480192535600,15,15.667,1.0,17.920,4.0
135459,1235956680012507400,15,NaN,NaN,18.220,5.0

### 2.4 Total number of detections and non detections 
* NON_N_total 	
* DET_N_total

In [36]:
lightcurve_features['DET_N_total'] = lightcurve_features.groupby('ATLAS_ID').cumsum().DET_N_today

In [37]:
lightcurve_features['NON_N_total'] = lightcurve_features.groupby('ATLAS_ID').cumsum().NON_N_today

In [38]:
lightcurve_features.set_index('ATLAS_ID', inplace=True)

In [39]:
lightcurve_features = lightcurve_features[['dayN',
                                           'DET_mag_median',
                                           'DET_N_today',
                                           'DET_N_total',
                                           'NON_mag_median',
                                           'NON_N_today',
                                           'NON_N_total'
                                           ]]

### 2.5 Max detections magntitude features
These features basically ask "what's been the maximum brightness recorded for this event and when was it" note that it is **Actually the MINIMUM magnitude value: it is the MAXIMUM brightness in mag units**. 

* max_mag 	
* max_mag_day

In [48]:
# Set up the lists where we're going to store our data 
# We're going to make lists with the same shape as our lightcurve_features 
# so we can just tag them on as columns when we're done
list_atlas_ids = []
list_max_mag = []
list_max_mag_day = []
list_dayN = []

########################################
# Loop Over Each Individual Lightcurve
########################################
for atlas_id in tqdm(lightcurve_features.index.unique()):
    # SET UP
    # Single Lightcurve
    lightcurve = lightcurve_features.loc[atlas_id]

    # temporary lists we're going to fill in the next loop
    i_list_max_mag = []
    i_list_max_mag_day = []
    i_list_dayN = []
    i_list_atlas_ids = []

    # Initialise our max mag to a very high value a.k.a low brightness
    max_mag = 99

    ###############################################
    # Loop Over each day (dayN) in the lightcurve
    ##############################################
    for i in range(lightcurve.shape[0]):
        i_list_atlas_ids.append(atlas_id)
        try:
            # CASE 1 - If our FIRST observation is a non-detection
            if np.isnan(lightcurve.DET_mag_median.iloc[i]) and max_mag == 99:
                # CASE 1 - then we set the maximum magnitude to NaN
                i_list_max_mag.append(np.nan)  
                i_list_max_mag_day.append(np.nan)

            # CASE 2 - If a later observation is a non-detection
            elif np.isnan(lightcurve.DET_mag_median.iloc[i]) and max_mag != 99:
                # CASE 2 - no updates to the values of max_mag and max_mag_day
                # we just add them to the list
                i_list_max_mag.append(max_mag) 
                i_list_max_mag_day.append(max_mag_day)  

            # CASE 3 - If it IS a detection and it is BRIGHTER than the max mag so far (so LOWER)
            elif lightcurve.DET_mag_median.iloc[i] < max_mag:
                # CASE 3 - UPDATE values of mag_day and max_mag_day 
                max_mag = lightcurve.iloc[i].DET_mag_median  
                max_mag_day = lightcurve.iloc[i].dayN 
                i_list_max_mag.append(max_mag)  
                i_list_max_mag_day.append(max_mag_day)

            # CASE 4 - If it IS a detection but it is NOT brighter than the max mag so far (so value is GREATER)
            else:
                # CASE 4 - no update, just append!
                i_list_max_mag.append(max_mag)  
                i_list_max_mag_day.append(max_mag_day) 

            # For bookkeeping we append which day N we are on (to make df later)
            i_list_dayN.append(lightcurve.dayN.iloc[i])
            
        ########
        # NOTE #
        ########
        # If we have a SINGLE ROW in our lightcurve dataframe
        # then the syntax above FAILS and give an AttributeError.
        # In this exception we do the bit of logic we need to do:
        except AttributeError:
            # CASE 1 - If we have a single row and it is NOT a detection
            if np.isnan(lightcurve.DET_mag_median):
                # CASE 1 - NaN!
                i_list_max_mag.append(np.nan)  
                i_list_max_mag_day.append(np.nan) 

            # CASE 2 - If we have a single row and it IS a detection
            else:
                # CASE 2 - Set values and append! 
                max_mag = lightcurve.DET_mag_median  
                max_mag_day = lightcurve.dayN
                i_list_max_mag.append(max_mag)  
                i_list_max_mag_day.append(max_mag_day)

            # Don't forget the bookkeeping!
            i_list_dayN.append(lightcurve.dayN)
            

    ############################################
    # Appending our new lists to our old lists
    ###########################################
    # Note: this syntax is why i like doing these loops in lists rather than arrays
    # they append easily with a + operator. 
    # If it's not pythonic, bite me. 
    list_atlas_ids = list_atlas_ids + i_list_atlas_ids
    list_max_mag = list_max_mag + i_list_max_mag
    list_max_mag_day = list_max_mag_day + i_list_max_mag_day
    list_dayN = list_dayN + i_list_dayN
    
    # back to the top!

  0%|          | 0/14639 [00:00<?, ?it/s]

In [53]:
# #### CLEAN UP #### #
# Make max mag features data frame
df_max_mag = pd.DataFrame.from_dict({'ATLAS_ID': np.array(list_atlas_ids),
                                     'dayN': np.array(list_dayN),
                                     'max_mag': np.array(list_max_mag),
                                     'max_mag_day': np.array(list_max_mag_day)
                                     })
df_max_mag.set_index(['ATLAS_ID', 'dayN'], inplace=True)

In [55]:
df_max_mag

                           max_mag  max_mag_day
ATLAS_ID            dayN
1000003310002310400 -4.0   -19.223         -4.0
                    -3.0   -19.223         -4.0
                    -2.0   -19.223         -4.0
                     0.0   -19.223         -4.0
                     4.0   -19.223         -4.0
...                            ...          ...
1000643890611224100  15.0   18.323         15.0
1045104290542037500  0.0    17.626          0.0
                     4.0    17.626          0.0
                     6.0    17.626          0.0
                     14.0   17.626          0.0

[135610 rows x 2 columns]

### 2.6 Put all the new features together

In [56]:
# Join the max mag feature to the other lightcurve features using dayN as the index
lightcurve_features = lightcurve_features.reset_index().set_index(['ATLAS_ID', 'dayN'])

In [58]:
# Resets the index so dayN is a column again and gets included in our list when we do to_list() below
lightcurve_features = lightcurve_features.join(df_max_mag).reset_index('dayN')

In [59]:
lightcurve_features

,dayN,DET_mag_median,DET_N_today,DET_N_total,NON_mag_median,NON_N_today,NON_N_total,max_mag,max_mag_day
ATLAS_ID,,,,,,,,,
1000003310002310400,-4,-19.223,1.0,1.0,19.430,3.0,3.0,-19.2230,-4.0
1080826770470827800,-4,NaN,NaN,NaN,18.795,4.0,4.0,NaN,NaN
1080831421524515100,-4,18.791,1.0,1.0,18.970,3.0,3.0,18.7910,-4.0
1175728000281331200,-4,NaN,NaN,NaN,18.015,2.0,2.0,NaN,NaN
1080833020354120700,-4,18.930,1.0,1.0,19.110,3.0,3.0,18.9300,-4.0
...,...,...,...,...,...,...,...,...,...
1181436400175317900,15,NaN,NaN,NaN,18.865,4.0,27.0,17.7790,-1.0
1070840740192055200,15,NaN,NaN,NaN,17.850,4.0,53.0,14.3900,0.0
1181439650222214300,15,NaN,NaN,NaN,18.060,4.0,24.0,18.5570,-1.0
1071346480192535600,15,15.667,1.0,8.0,17.920,4.0,51.0,13.8690,0.0
1235956680012507400,15,NaN,NaN,NaN,18.220,5.0,54.0,19.0705,0.0

In [82]:
lightcurve_features=lightcurve_features.join(labels)

## 3. Splittng the train and 'test' set and add in the Day 1 features  

### Split train/test using the indexes from the Day 1 train/test set

Note there's extra shenanigans in the indexing below to account for the fact than not all Day1 samples are in the Update samples (because some events don't have new data after Day1).

In [60]:
Update_LC_feats_train = lightcurve_features.loc[list(set(lightcurve_features.index.get_level_values(0)
                                                        ).intersection(set(X_train_day1.index)))
                                               ]

In [61]:
Update_LC_feats_test = lightcurve_features.loc[list(set(lightcurve_features.index.get_level_values(0)
                                                       ).intersection(set(X_test_day1.index)))]

### Join the new LC features and the Day 1 features

In [62]:
X_train_update = Update_LC_feats_train.join(X_train_day1)

In [63]:
X_test_update = Update_LC_feats_test.join(X_test_day1)

In [64]:
X_train_update

,dayN,DET_mag_median,DET_N_today,DET_N_total,NON_mag_median,NON_N_today,NON_N_total,max_mag,max_mag_day,Nnondet_std,...,rb_pix,z,photoz,ebv_sfd,log10_sep_arcsec,SN,NT,ORPHAN,CV,UNCLEAR
ATLAS_ID,,,,,,,,,,,,,,,,,,,,,
1160457911144448000,-4,NaN,NaN,NaN,18.480,4.0,4.0,NaN,NaN,0.000000,...,0.988765,0.072981,0.070633,0.043511,1.11857,True,False,False,False,False
1160457911144448000,-3,NaN,NaN,NaN,18.305,4.0,8.0,NaN,NaN,0.000000,...,0.988765,0.072981,0.070633,0.043511,1.11857,True,False,False,False,False
1160457911144448000,-1,NaN,NaN,NaN,17.910,4.0,12.0,NaN,NaN,0.000000,...,0.988765,0.072981,0.070633,0.043511,1.11857,True,False,False,False,False
1160457911144448000,0,18.897,5.0,5.0,NaN,NaN,NaN,18.8970,0.0,0.000000,...,0.988765,0.072981,0.070633,0.043511,1.11857,True,False,False,False,False
1160457911144448000,1,18.557,1.0,6.0,18.830,3.0,15.0,18.5570,1.0,0.000000,...,0.988765,0.072981,0.070633,0.043511,1.11857,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1231450300454600700,2,19.295,2.0,8.0,19.515,2.0,6.0,19.1145,-1.0,1.328422,...,0.991401,NaN,NaN,0.009145,NaN,False,False,True,False,False
1231450300454600700,5,19.501,1.0,9.0,19.480,3.0,9.0,19.1145,-1.0,1.328422,...,0.991401,NaN,NaN,0.009145,NaN,False,False,True,False,False
1231450300454600700,9,NaN,NaN,NaN,19.170,5.0,14.0,19.1145,-1.0,1.328422,...,0.991401,NaN,NaN,0.009145,NaN,False,False,True,False,False
1231450300454600700,10,NaN,NaN,NaN,19.030,4.0,18.0,19.1145,-1.0,1.328422,...,0.991401,NaN,NaN,0.009145,NaN,False,False,True,False,False
1231450300454600700,14,NaN,NaN,NaN,18.015,4.0,22.0,19.1145,-1.0,1.328422,...,0.991401,NaN,NaN,0.009145,NaN,False,False,True,False,False

### Crop all samples that are not updates

That is, all rows with dayN < 1. We needed them to make some of our features earlier, but now we only want to keep the samples that correspond to data **gathered after entry in the eyeball list**.

In [67]:
X_train_update=X_train_update[X_train_update.dayN>=1]
X_test_update=X_test_update[X_test_update.dayN>=1]

In [73]:
y_train_update = context.type.loc[X_train_update.index]
y_test_update= context.type.loc[X_test_update.index]

In [74]:
y_train_update.value_counts()

type
pm          14752
galactic    14131
garbage     14082
good        12523
Name: count, dtype: int64

There is a slight imbalance of the good data, but it's not major so we don't resample again.

In [75]:
y_test_update.value_counts()

type
garbage     30224
pm           5365
galactic     2366
good         2233
Name: count, dtype: int64

In [76]:
X_test_update.to_csv('./features_and_labels_csv/update/X_test_unbalanced.csv', index=True)
y_test_update.to_csv('./features_and_labels_csv/update/y_test_unbalanced.csv', index=True)

X_train_update.to_csv('./features_and_labels_csv/update/X_train.csv', index=True)
y_train_update.to_csv('./features_and_labels_csv/update/y_train.csv', index=True)